<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hello</title>
</head>
<body>
<div>watches <a href="/api/v1/fetch?section=/ru/list/clothes-and-shoes/watches?view_type=detail&mode=short">shortMode</a> |
    <a href="/api/v1/fetch?section=/ru/list/clothes-and-shoes/watches?view_type=detail&mode=full">fullMode</a></div>
<div>antique <a href="/api/v1/fetch?section=/ru/list/furniture-and-interior/antiques?view_type=detail&mode=short">shortMode</a> |
    <a href="/api/v1/fetch?section=/ru/list/furniture-and-interior/antiques?view_type=detail&mode=full">fullMode</a></div>
<div>big watches and pictures <a href="/api/v1/fetch?section=/ru/list/furniture-and-interior/pictures?view_type=detail&mode=short">shortMode</a> |
    <a href="/api/v1/fetch?section=/ru/list/furniture-and-interior/pictures?view_type=detail&mode=full">fullMode</a></div>
</body>
</html>